:root {
  font-size: 16px;

  --shadow: 0 0 15px 0 rgb(0, 0, 0, 0.05);

  --background: whitesmoke;
  --foreground: white;
  --text: rgb(65, 65, 65);
  --other: rgb(203, 216, 255);
  --other-highlighted: rgb(119, 153, 255);
  --accent: royalblue;
  --accent-background: rgb(253, 253, 255);
}

* {
  font-family: 'Figtree', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  color: var(--text);
}

body {
  background-color: var(--background);

  min-height: 100vh;

  margin: 0 10%;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

body > * {
  padding: 1rem;
}

header,
footer {
  justify-self: center;
}

h1 {
  color: var(--accent);
  font-size: 1.5rem;
  font-weight: 600;
}

main {
  width: 100%;
  height: 100%;
  background-color: var(--foreground);

  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;

  padding: 1rem;
  border-radius: 0.8rem;
}

#game {
  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: max-content;
  padding: 1rem;

  gap: 0.5rem;
}

#status-bar {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

#gameboard {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  padding: 1rem;

  box-shadow: var(--shadow);

  border-top: 2px solid var(--accent);
  border-bottom: 2px solid var(--accent);

  display: grid;
  gap: 0.3rem;

  min-width: max-content;

  background-color: var(--accent-background);
}

.gameboard-cell {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem;

  background-color: rgb(242, 242, 255);

  border-radius: 15px;

  font-size: 4rem;
  cursor: default;
}

#game-result {
  margin-bottom: 5%;
}

.player-name {
  border: 0;
  text-align: center;
  width: 25%;

  border-bottom: 1px solid var(--other);
  border-radius: 3px;
}

.player-name:focus-visible {
  outline: 0;
  border-color: var(--other-highlighted);
}

a {
  color: var(--accent);
}
